h1{
    margin-left: 13.2em;
}

h4{
    margin-left: 26em;
}

input[type=text]{
    padding: .25em;
    margin: .5em;
}

label[for=title], label[for=price]{
    width: 40%;
    display: inline-block;
    text-align: right;
}

label[for=rating]{
    display: inline-block;
    margin-left: 23.8em;
    margin-top: 1em;
    padding: .2em;
}

input[type=button]{
    display: inline-block;
    margin-left: 33.2em;
    margin-top: 1em;
}

div[id=validation-summary]{
    margin-left: 29em;
}