input[type=text]{
    padding: .4em;
}

label{
    width: 50%;
    display: inline-block;
    text-align: right;
}

#validation-summary{
    color: red;
    list-style-type: square;
}

.category-error{
    font-style: italic;
    font-weight: bolder;
}